Thumbs.db
.DS_Store
.gradle
build/
bin/
target/
out/
.micronaut/
.idea/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
*.log
*.ctxt
.mtj.tmp/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

.local/
